@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirmation";

}

@model Assignment3.Models.InputResponse 

<div>
    <h2>@Model.Title Has Been Submited!</h2>
</div>

<div>
    Click <a asp-action="MovieList">here</a> to see the movie list.
</div>